/************************************** General **************************************/
* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 40px 0px 8px 0px;
    font-size: 22px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: #0065FC;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.cardactivite {
    background-color: white;
    border-radius: 20px;
    padding: 0px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
border-box{
    box-sizing: border-box;
}

/************************************* Body **************************************/
body{
    margin:0;
}

/************************************** Body Responsive **************************************/
@media screen and (min-width: 1440px) {
body{
    width: 1440px;
    margin: 0px auto;
}
}

@media all and (min-width: 1024px) and (max-width: 1440px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {

}

@media all and (min-width: 320px) and (max-width: 768px) {
.main-container {
    padding: 0px;
}

.search-box button span {
    display: none;
}

.search-box button i {
    display: block !important;
}
.search-box input{
    width: calc(100% - 150px);
}
}

/************************************** Header **************************************/
#logo {
    max-height: 40%;
    width: auto;
    align-items: center;
}
header {
    display: flex;
    justify-content: space-between;
}
header div {
    display: flex;
    align-items: center;
}
header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header nav ul li {
    padding: 25px 25px;
    border-top: 4px solid transparent;
}
header nav ul li:hover {
    border-color:#0065FC;
}
header nav ul li a {
    color: black;
    text-decoration: none;
}
header nav ul li:hover a {
    color:#0065FC;
}
p {
    margin: 0px 0px 25px 0px;
}

/************************************** Header Responsive **************************************/
@media screen and (min-width: 1440px) {

}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {
    
}
@media all and (min-width: 320px) and (max-width: 768px) {
    header {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0px;
        margin: 0;
    }
    header div {
        justify-content: center;
    }
    header nav {
        width: 100%;
    }
    header nav ul li {
        border-bottom: 4px solid transparent;
        border-top: none;
        width: 100%;
        text-align: center;
    }
}

/************************************** Main **************************************/
.search-box {
    display: flex;
    align-items: center;
    width: auto;
}
.search-box .fa-map-marker-alt {
    display: inline-block;
    padding: 14px;
    font-size: 20px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #F2F2F2;
}
.search-box input {
    outline: none;
    height: 48px;
    border: none;
    padding: 0px 0px 0px 10px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: bold;
}
::placeholder{
    color: black;
    font-size: large;

}
.search-box button {
    background-color: #0065FC;
    height: 53px;
    border-radius: 0px 15px 15px 0px;
    padding: 16px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: large;
    border: 2px solid #0065FC;
}
.search-box button .fa-search {
    display: none;
}
.filterBar {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 20px 0px 20px 0px;
    font-size: 15px;
}

.filterBar div{
    display: flex;
    padding: 10px 15px 10px 15px;
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    font-weight: bold;
}
.filterBar :hover{
    background-color: #DEEBFF;
}
.fa-info {
    border: 2px solid#D9D9D9;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 50%;
}
.Infobar{
    display: flex;
    align-items: baseline;
}
.Infobar p{
    padding-left: 10px;
}

/************************************** Main Responsive **************************************/
@media screen and (min-width: 1440px) {

}

@media all and (min-width: 1024px) and (max-width: 1440px) {

}

@media all and (min-width: 768px) and (max-width: 1024px) {
.filterBar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.filterBar h2{
    width: 100%;
    margin: 0px;
}
}
    
@media all and (min-width: 320px) and (max-width: 768px) {
main{
    padding: 0px;
    margin: 0px;
}
.search-box{
    justify-content: center;
}
.search-box input {
    padding-right: 50px;
    align-items: center;
    justify-content: center;
}
.search-box button {
    background-color: #0065FC;
    height: 48px;
    width: 50px;
    border: none;
    box-shadow: 0px 5px 2px #D9D9D9;
    border-radius: 15px 15px 15px 15px;
    padding: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    margin-left: -10px;
}
h1 {
    margin-top: 10px;
}
.filterBar{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.filterBar h2{
    width: 100%;
    margin: 0px;
}
.info-group{
    padding: 0px 10px 0px 10px;
}
.filterBar div{
    width: 40%;
    padding: 15px 8px 15px 8px;
}
.filterBar div i{
    font-size: 1em;
    margin-inline: .2em;
}
}

/************************************** Hebergements And Populaires **************************************/
.hebergements-and-populaires {
    display: flex;
    margin-bottom: 40px;
}
.hebergements-and-populaires section {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/************************************** Hebergements **************************************/
.villes-title{
    margin: 0;
}
.hebergements {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1.5em;
    align-content: space-around;
}
.hebergements img {
    width: 100%;
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.marseille-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.5em;
    margin-top: 30px;
    margin-bottom: 40px;
}
.marseille-cards a {
   width: 30%;
}
.more-learn {
    font-weight: bold;
}
.marseille-cards .card {
    display: flex;
    flex-direction: column;
}
.card-content {
    display: flex;
    flex-direction: column;
    margin: 5px 0px 5px 0px;
    padding-left: 1em;
}
.marseille-cards .card-title {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.marseille-cards .card-subtitle {
    font-size: 13px;
    margin-bottom: 5px;
}
.marseille-cards .card-rating {
    margin-bottom: 5px;
}

/************************************** Populaires **************************************/
.populaires {
    width: 60%;
}
.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.populaires-cards .card {
    display: flex;
}
.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.populaires-cards .card-title {
    margin-top: 5px;
    margin-bottom: 5px;
}
.populaires-cards .card-subtitle {
    margin: 0;
}
.populaires-cards .card-rating {
    margin-bottom: 5px;
}
.populaires-cards{
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: 30px;
}

/************************************** Hebergement et Populaire Responsive **************************************/

@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }
    .hebergements {
        width: 100%;
    }
    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards .card-title {
        font-size: 14px;
    }
    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}
@media screen and (min-width: 1440px) {
}
@media all and (min-width: 1024px) and (max-width: 1440px) {

}
@media all and (min-width: 768px) and (max-width: 1024px) {

}
@media all and (min-width: 320px) and (max-width: 768px) {
.hebergements-and-populaires .hebergements{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.hebergements-and-populaires section {
    border-radius: 0px;
    padding: 20px 15px 0px 15px;
    box-sizing: border-box;
}
.hebergements-and-populaires{
    display: flex;
    flex-direction: column-reverse;
}
.populaires{
    margin: 0px;
}
.populaires-cards{
    display: block;
}
.card{
    margin: 0px 0px 20px 0px;
}
.marseille-cards{
    display: block;
    width: 100%;
}
}

/************************************** Activités **************************************/
.activites {
    padding-left: 20px;
    padding-right: 20px;
}
.marseille-activite-cards {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 20px;
}
.activites img {
    width: 100%;
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.marseille-activite-cards a {
    width: 25%;
 }

/************************************** Acticités Responsive **************************************/
@media screen and (min-width: 1440px) {

}
@media all and (min-width: 1024px) and (max-width: 1440px) {
    
}
@media all and (min-width: 768px) and (max-width: 1024px) {

.marseille-activite-cards .card-content{
    height: 70px;
}
.activites img {
    height: 150px;
}
.marseille-activite-cards {
    gap: 1em;
}
}
@media all and (min-width: 320px) and (max-width: 768px) {
    .marseille-activite-cards {
        display: block;
    }
    .activites img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .activites {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/************************************** Footer **************************************/
footer {
    display: flex;
    justify-content: space-between;
    margin: 0px 50px 0px 50px;
    background-color: #F2F2F2;
    margin: 50px 0px 0px 0px;
    font-size: 15px;
}
footer nav {
    width: 100%;
}
footer nav ul li {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 100%;
}
footer nav ul {
    margin: 0;
    padding: 10px;
}
footer nav ul li a {
    color: black;
    text-decoration: none;
}
footer nav h3{
    padding-left: 20px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 20px 0px 0px 0px;
}

/************************************** Footer Responsive **************************************/
@media all and (min-width: 320px) and (max-width: 768px) {
footer{
    flex-direction: column;
}
}